# New wam configuration file

# wam hardware-specific stuff
wambot:
{
	bus:
	{
		port = 0;
	};
	dof = 4;
	home = ( 0, -1.9, 0, 3.14 );
	j2mp = (( -42.0,      0,        0,     0 ),
	        (     0,  28.25, -16.8155,     0 ),
	        (     0, -28.25, -16.8155,     0 ),
	        (     0,      0,        0, -18.0 ));
};

kinematics:
{
	# For a 4-DOF WAM
	moving:
	(
		# Note: alpha_pi = alpha / pi
		{ alpha_pi = -0.5; a =      0; d =      0; }, # Base Yaw
		{ alpha_pi =  0.5; a =      0; d =      0; }, # Base Pitch
		{ alpha_pi = -0.5; a = -0.045; d = 0.5500; }, # Twist
		{ alpha_pi =  0.5; a =  0.045; d =      0; }  # Elbow
	);
};

gravity:
{
	# For a 4-DOF WAM
	mus = ((0.88387, 3.247e-20, 0.00059652),
	       (0.078858, 0.22942, 1.8469),
	       (0.090855, 0.16877, -0.063106),
               (-0.034391, 8.3664e-07, 0.3057));

};

