# New wam configuration file

wam:
{

   # wam hardware-specific stuff
   wambot:
   {
	   bus:
	   {
		   port = 0;
	   };
	   dof = 4;
	   home = ( 0, -1.9, 0, 3.14 );
	   j2mp = (( -42.0,      0,        0,     0 ),
	           (     0,  28.25, -16.8155,     0 ),
	           (     0, -28.25, -16.8155,     0 ),
	           (     0,      0,        0, -18.0 ));
   };

   kinematics:
   {
	   # For a 4-DOF WAM
	   moving:
	   (
		   # Note: alpha_pi = alpha / pi
		   { alpha_pi = -0.5; a =      0; d =      0; }, # Base Yaw
		   { alpha_pi =  0.5; a =      0; d =      0; }, # Base Pitch
		   { alpha_pi = -0.5; a = -0.045; d = 0.5500; }, # Twist
		   { alpha_pi =  0.5; a =  0.045; d =      0; }  # Elbow
	   );
	   toolplate = { alpha_pi = 0; theta_pi = 0; a = 0; d = 0.36; };
   };

   gravity:
   {
	   # For a 4-DOF WAM
      mus = (( 0.284550, -0.000000,  0.001335 ),
             ( 0.005591,  0.123134,  1.558650 ),
             ( 0.064039,  0.117750, -0.042226 ),
             (-0.035684,  0.000001,  0.170681 ));
   };
   
   control_joint:
   {
      pids:
      (
         { p =  900; i = 2.5; d =  10; },
         { p = 2500; i = 5.0; d =  20; },
         { p =  600; i = 2.5; d =  10; },
         { p =  500; i = 0.5; d = 2.5; }
      );
   };

   
};
