# New wam configuration file

# wam hardware-specific stuff
wambot:
{
	bus:
	{
		port = 0;
	};
	dof = 7;
	home = ( 0, -1.9, 0, 3.14, 0, 0, 0 );
	j2mp = (( -42.0,      0,        0,     0,   0,    0,      0 ),
	        (     0,  28.25, -16.8155,     0,   0,    0,      0 ),
	        (     0, -28.25, -16.8155,     0,   0,    0,      0 ),
	        (     0,      0,        0, -18.0,   0,    0,      0 ),
	        (     0,      0,        0,     0, 9.7, -9.7,      0 ),
	        (     0,      0,        0,     0, 9.7,  9.7,      0 ),
	        (     0,      0,        0,     0,   0,    0, -14.93 ));
};

kinematics:
{
	# For a 7-DOF WAM
	moving:
	(
		# Note: alpha_pi = alpha / pi
		{ alpha_pi = -0.5; a =      0; d =      0; }, # Base Yaw
		{ alpha_pi =  0.5; a =      0; d =      0; }, # Base Pitch
		{ alpha_pi = -0.5; a = -0.045; d = 0.5500; }, # Twist
		{ alpha_pi =  0.5; a =  0.045; d =      0; }, # Elbow
		{ alpha_pi = -0.5; a =      0; d = 0.3000; }, # Wrist Yaw
		{ alpha_pi =  0.5; a =      0; d =      0; }, # Wrist Pitch
		{ alpha_pi = -0.5; a =      0; d = 0.0609; }  # Wrist Twist
	);
};

gravity:
{
	# For a 7-DOF WAM
	mus = (( -0.14638, 1.6973e-20, -0.00020347 ),
	       ( -0.014946, -0.11716, 3.18 ),
	       ( 0.18954, 0.50467, 0.0863920 ),
	       ( -0.081814, -0.1483, 0.64138 ),
	       ( -0.010432, 0.055071, 0.015687 ),
	       ( 0.010588, -0.020929, 0.064634 ),
	       ( -0.00026798, -2.6525e-05, -0.00012169 ));
};

