wam:
{
   kinematics:
   {
           # For a 7-DOF WAM
           moving:
           (
                   # Note: alpha_pi = alpha / pi
                   { alpha_pi = -0.5; a =      0; d =      0; }, # Base Yaw
                   { alpha_pi =  0.5; a =      0; d =      0; }, # Base Pitch
                   { alpha_pi = -0.5; a = -0.045; d = 0.5500; }, # Twist
                   { alpha_pi =  0.5; a =  0.045; d =      0; }, # Elbow
                   { alpha_pi = -0.5; a =      0; d = 0.4530; }, # Gimbals Yaw
                   { alpha_pi =  0.5; a =      0; d =      0; }, # Gimbals Pitch
                   { alpha_pi = -0.5; a =      0; d =      0; }  # Gimbals Twist
           );
           toolplate = { alpha_pi = 0.5; theta_pi = 0; a = 0; d = 0; };
   };
};
